Django==5.2.8
djangorestframework==3.16.1
pydantic==2.12.4
python-dotenv==1.2.1
requests==2.32.5
whitenoise
gunicorn
dj-database-url
psycopg2-binary

# LangChain
langchain
langchain-core
langchain-google-genai