{% extends "crossword/base.html" %}

{% block title %}Home | AI Crossword Generator{% endblock %}

{% block content %}
    <div class="enterCategory">
        <label for="user_input">AI Crossword Generator</label>
        <form id="crosswordForm" method="POST" action="{% url 'crossword:home' %}">
            {% csrf_token %}
            <input type="text" id="user_input" name="user_input"
                placeholder="Dogs, Musicians, Countries, etc." required>
            <button type="submit">Enter</button>
        </form>
    </div>

    <!-- Loading Symbol -->
    <div id="loading-spinner" style="display:none;" class="spinner"></div>
    <p id="loading-text" style="display:none; text-align:center; color:white; font-weight:bold;">
        Generating crossword...
    </p>

    <!-- Crossword HTML injected here -->
    <div class="grid">
        <div id="crossword-container">
            <!-- Crossword Grid -->
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
{% endblock %}