{% extends "crossword/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/saved_list.css' %}">

<div class="saved-crosswords-page">
    <h2>Saved Crosswords</h2>

    {% if crosswords %}
        <ul class="saved-crossword-list">
            {% for cw in crosswords %}
                <li>
                    <div class="left">
                        <strong>{{ cw.category }}:</strong>
                        <span>saved on {{ cw.created_at|date:"M d, Y H:i" }}</span>
                    </div>
                    <div class="saved-buttons">
                        <a class="open-link" href="{% url 'crossword:load_saved_crossword' cw.id %}">Open</a>
                        <form method="POST" 
                            action="{% url 'crossword:delete_saved_crossword' cw.id %}" 
                            class="delete-form"
                            onsubmit="return confirm('Delete this crossword?')">
                            {% csrf_token %}
                            <button type="submit" class="delete-link">Delete</button>
                        </form>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You don’t have any saved crosswords.</p>
    {% endif %}
</div>
{% endblock %}
