main {
    margin-top: 150px;
}

body {
    color:black;
    background-color: cadetblue;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

h1 {
    text-align: center;
    background-color: white;
    color:cadetblue;
    padding: 20px;
    margin: 0px;
}

.enterCategory {
    text-align: center;
}

.enterCategory input {
    border-radius: 15px;
    padding: 10px;
    width: 350px;
    height: 20px;
    font-size: 15px;
    margin-top: 10px;
    border-color: white;
}

.enterCategory input::placeholder {
    font-style: italic;
}

.enterCategory button {
    border-radius: 15px;
    padding: 10px;
    width: 70px;
    font-size: 15px;
    border-color: white;
    color: grey;
}

.enterCategory label {
    color: white;
    font-size: 25px;
}

.navbar {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
}

/* To center title */
.nav-left {
    width: 800px; /* must match width of nav-right */
    align-items: left;
    font-size: 20px;
    display: flex;
    justify-content: center;
    gap:18px;
    /* margin-left: 100px; */
}

.nav-right {
    width: 800px; /* equal to width of nav-right */
    align-items: left;
    font-size: 20px;
    display: flex;
    justify-content: center;
    gap:18px;
}

.navbar a {
    color: cadetblue;
    margin-left: 15px;
    text-decoration: none;
}

.navbar .logo {
    font-weight: bold;
}

.enterCategory select {
    border-radius: 15px;
    padding: 10px;
    width: 100px;
    font-size: 15px;
    border-color: white;
    color: grey;
}

.auto-check-btn.is-on {
    background-color: white;
    color: cadetblue;
}

.auto-check-btn {
    border-radius: 25px;
    border: 2px solid cadetblue;
    background-color: cadetblue;
    color: white;
    padding: 8px 20px;
    font-size: 14px;
    letter-spacing: 0.05em;
    cursor: pointer;
    font-size: 15px;

    transition:
        background-color 0.25s ease,
        color 0.25s ease,
        box-shadow 0.25s ease,
        transform 0.15s ease;
}


.save-btn {
    border-radius: 25px;
    border: 2px solid cadetblue;
    background-color: white;
    color: cadetblue;
    padding: 8px 20px;
    font-size: 14px;
    letter-spacing: 0.05em;
    cursor: pointer;
    font-size: 15px;

    transition:
        background-color 0.25s ease,
        color 0.25s ease,
        box-shadow 0.25s ease,
        transform 0.15s ease;
}
