body {
    color:black;
    background-color: cadetblue;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

h1 {
    text-align: center;
    background-color: white;
    color:cadetblue;
    padding: 20px;
    margin: 0px;
    margin-bottom: 20px;
}

.enterCategory {
    text-align: center;
}

.enterCategory input {
    border-radius: 15px;
    padding: 10px;
    width: 350px;
    height: 20px;
    font-size: 15px;
    margin-top: 10px;
}

.enterCategory input::placeholder {
    font-style: italic;
}

.enterCategory button {
    border-radius: 15px;
    padding: 10px;
    width: 70px;
    font-size: 15px;
}

.enterCategory label {
    color: white;
    font-size: 25px;
}