body {
    color:black;
    background-color: cadetblue;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

h1 {
    text-align: center;
    background-color: white;
    color:cadetblue;
    padding: 20px;
    margin: 0px;
}

.enterCategory {
    text-align: center;
}

.enterCategory input {
    border-radius: 15px;
    padding: 10px;
    width: 350px;
    height: 20px;
    font-size: 15px;
    margin-top: 10px;
    border-color: white;
}

.enterCategory input::placeholder {
    font-style: italic;
}

.enterCategory button {
    border-radius: 15px;
    padding: 10px;
    width: 70px;
    font-size: 15px;
    border-color: white;
    color: grey;
}

.enterCategory label {
    color: white;
    font-size: 25px;
}

.navbar {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 10px;
}

/* To center title */
.nav-spacer {
    width: 250px; /* must match width of nav-right */
}

.nav-right {
    align-items: right;
    width: 250px;
}

.navbar a {
    color: cadetblue;
    margin-left: 15px;
    text-decoration: none;
}

.navbar .logo {
    font-weight: bold;
}
